.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  height: 30px;
  padding: 5px;
  border-radius: 1px;
  width: 230px;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 100%;
  color: #cbd5e1;
  width: 90%;
}

.playlist-container {
  background-color: #152850;
  min-height: 50vh;
  padding: 40px;
}

.heading {
  color: #ffffff;
  font-size: 25px;
}

.heading-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-container {
  overflow: auto;
  height: 300px;
  margin-top: 20px;
}

.no-text {
  color: #ffffff;
  font-size: 25px;
}

.no-text-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
